# python basic

# The largest heading

## The second largest heading

### The third largest heading

**This is bold text**

*This is italized text*

~~This is mistaken text~~

**This is text _extremely_ important**

***All bold and italic**

>pardon my french

```
git status 
git add
git commit
```

This site was build using [Github pages](https://pages.github.com)

- George washington
- John Adams
- Thomas jefferson

1. First list item
   - First nested list item
     - Second nested list item

# Variables
    -It stores the values and changes the value

In [1]:
a = 20
print(a)

20

In [20]:
#factorial of number using python
f=1
n=int(input('Enter a value:'))
for i in range(1,n+1):
    f=f*i
print('Factorial of {} is {}'.format(n,f))

Enter a value:5
Factorial of 5 is 120

In [4]:
a = 100
a

100

In [5]:
print(a)

100

### Datatypes in python
    -Int -> Numeric format of data -int()
    -float -> Decimal values are allowed -float()
    -String -> '' or ""-str()
    -complex -> Real and imaginary -complex()

In [7]:
a,b=100,30
print(a,b)

100 30

In [8]:
print(a)
print(b)

100
30

In [10]:
print(print("Hello"))

Hello
None

### Type casting Type()

In [11]:
type(a)

int

In [15]:
type(a)
print(type(a),type(b))

<class 'int'> <class 'int'>

In [17]:
c = 'rajesh'
d = 26.00
print(type(c),type(d))

<class 'str'> <class 'float'>

In [19]:
c = 'rajesh'
d = 25.00
e = True
g = '235.15645'
h = '545'
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))
print(g,type(g))
print(h,type(h))

rajesh <class 'str'>
25.0 <class 'float'>
True <class 'bool'>
120 <class 'int'>
235.15645 <class 'str'>
545 <class 'str'>

### Variable assignments:

In [21]:
a,h,l,y = 23,23.000,'raju',False
print(a,type(a))
print(h,type(h))
print(l,type(l))
print(y,type(y))

23 <class 'int'>
23.0 <class 'float'>
raju <class 'str'>
False <class 'bool'>

In [26]:
g = i = l = 520
print(g,i,l)

520 520 520

### Dynamic way of Type casting  values

In [32]:
a = input()
print(a,type(a))
print(int(a),type(int(a)))

540
540 <class 'str'>
540 <class 'int'>

In [31]:
a = input("Enter a number:")
print(a,type(a))
print(float(a),type(float(a)))

Enter a number:23.00054968
23.00054968 <class 'str'>
23.00054968 <class 'float'>

In [33]:
p = int(input())
print(p,type(p))

4740470979473597095
4740470979473597095 <class 'int'>

In [34]:
q = input()
print(len(q))

757398538653958757935837871404
30

In [12]:
a = float(input())
b = float(input())
print("Given numbers are",a,"and",b)
print("Type casting of values to integers are",int(a),"and",int(b))
print("Type casting of values to strings are ' "+str(a)+ " ' and ' "+str(int(b))+" '")

22
23
Given numbers are 22.0 and 23.0
Type casting of values to integers are 22 and 23
Type casting of values to strings are ' 22.0 ' and ' 23 '

# Operators
    - Arithmetic -> +,-,*,/,%,//,**
    - Relational -> >,<,>=,<=,!=,==
    - Assignment -> +=,-=,*=,/=,%=
    - Logical -> AND,OR,NOT
    - Bitwise -> &,|,~,>>,<<
    - Identity -> is, is not
    - Membership -> in, not in

In [15]:
n = 23
print(n>>5)
print(n<<5)

0
736

In [19]:
i = int(input())
j = int(input())
k = int(i)
print("Square of {} is {}".format(k,k*k))
print("Cube of {} is {}".format(k,k*k*k))
print("Addition of {} and {} is {}".format(i,j,i+j))
print("Sub of {} and {} is {}".format(i,j,i-j))
print("multiplication of {} and {} is {}".format(i,j,i*j))
print("Division of {} and {} is {}".format(i,j,i/j))
print("floor division of {} and {} is {}".format(i,j,i//j))
print("Power of {} and {} is {}".format(i,j,i**j))

3
2
Square of 3 is 9
Cube of 3 is 27
Addition of 3 and 2 is 5
Sub of 3 and 2 is 1
multiplication of 3 and 2 is 6
Division of 3 and 2 is 1.5
floor division of 3 and 2 is 1
Power of 3 and 2 is 9