# Output formatting
    - %
    -  .format

In [6]:
a = 20
print('a value is:%d'%a)

a value is:20

In [5]:
a = 10
b = 30
print("a value is:%d and b value is:%d"%(a,b))

a value is:10 and b value is:30

In [7]:
a = 20
print('a value is:{}'.format(a))

a value is:20

In [13]:
print("a value is:{} and b value is:{}".format(a,b))
print("a value is:{1} and b value is:{0}".format(b,a))

a value is:20 and b value is:30
a value is:20 and b value is:30

In [16]:
i = int(input())
j = int(input())
k=int(i)
a=int(input())
b=int(input())
c=int(input())
print("Square of {} is {}".format(k,k*k))
print("Cube of {} is {}".format(k,k*k*k))
print("Addition of {} and {} is {}".format(i,j,i+j))
print("Sub of {} and {} is {}".format(i,j,i-j))
print("multiplication of {} and {} is {}".format(i,j,i*j))
print("Division of {} and {} is {}".format(i,j,i/j))
print("floor division of {} and {} is {}".format(i,j,i//j))
print("Power of {} and {} is {}".format(i,j,i**j))  
print("Equation of ai^2+bj+c is {}".format((a*(i*i)+b*j+c)))

3
4
2
4
5
Square of 3 is 9
Cube of 3 is 27
Addition of 3 and 4 is 7
Sub of 3 and 4 is -1
multiplication of 3 and 4 is 12
Division of 3 and 4 is 0.75
floor division of 3 and 4 is 0
Power of 3 and 4 is 81
Equation of ai^2+bj+c is 39

In [20]:
k = float(input())
m = int(input())
print("Square of {} is:{}".format(int(k),int(k*k)))
print("Cube of {} is:{}".format(int(k),int(k*k*k)))
print("Addition of {} and {} :{}".format(int(k),m,int(k+m)))
print("Difference of {} and {} :{}".format(int(k),m,int(k-m)))
print("Multiplication of {} and {} :{}".format(int(k),m,int(k*m)))
print("Base of {} and exponent {} power is:{}".format(int(k),m,int(k**m)))
print("Equation of  2k^3+5m^2+6 and its value is:{}".format(2*(int(k)**3)+5*(m**2)+6))

34.5
3
Square of 34 is:1190
Cube of 34 is:41063
Addition of 34 and 3 :37
Difference of 34 and 3 :31
Multiplication of 34 and 3 :103
Base of 34 and exponent 3 power is:41063
Equation of  2k^3+5m^2+6 and its value is:78659

# Conditional Statements
    -To check whether the given statements is True or False
    - if ->single case
    - if-else->two cases
    - nested if -> two or more cases
    - elif ->three or more cases

# Syntax of if
    if(condition):
        //Statements
        
 # if-else
    if(condition):
       //Stat
    else
       //stat
 # nested if
    if(condition):
        if(condition):
           //stat
        else:
           //Stat
    else:
       //stat
 # elif
    if(condition):
       //stat-1
    elif(condition):
       //stat-2
    elif(condition):
       //stat-3
        | |
        | |
    else:
       //stat-n

In [21]:
n =int(input())
if n == 0:
    print("n value is:{}".format(n))

4

In [22]:
n = int(input())
if n%2 == 0:
    print("Given n value is an even number")
else:
    print("Given n value is an odd number")

5
Given n value is an odd number

In [24]:
m = int(input())
if m>0:
    print("m value is {} and it is positive".format(m))
else:
    print("m value is {} and it is negative".format(m))

33
m value is 33 and it is positive

In [31]:
userid = int(input())
password = input()
i = 1234
j = 'ram'
if(userid == i and password ==j):
    print("welcome userid {}".format(userid))
else:
    print("Userid {} is correct and password is invalid".format(userid))

1234
ram
welcome userid 1234

In [32]:
uid = int(input())
pin = int(input())
if uid == 234:
    if pin == 1234:
        print("Userid {} or password is incorrect".format(uid))
    else:
        print("Userid {} or password is incorrect".format(uid))
else:
    print("Userid {} or password is incorrect".format(uid))

1234
1234
Userid 1234 or password is incorrect

In [33]:
uid = int(input())
pin = input()
if uid == 234 and pin == '0234':
    print("Welcome userid{}".format(uid))
else:
    print("Userid {} or password is incorrect".format(uid))

234
7890
Userid 234 or password is incorrect

In [42]:
uid = int(input())
if uid == 123:
    pin = int(input())
    if pin == 456:
        print("welcome userid {}".format(uid))
    else:
        print("Invalid password for userid {}".format(uid))
else:
    print("Invalid userid {}".format(uid))

123
456
welcome userid 123

In [2]:
a = int(input())
if a % 3 == 0 and a % 5 == 0:
    print("Given value {} is a mulitiple of 3 and 5".format(a))
elif a % 3 == 0:
    print("Given value {} is a multiple of 3".format(a))
elif a % 2 == 0:
    print("{} is divisible by 2".format(a))
else:
    print("Given number is {}".format(a))

10
10 is divisible by 2

# Control Statements, Iterations, Loops, Repetition:
 - To control the flow of execution 
 -for -> particular range
 - while -> infinity loop, it works like for also

# for
    ```syntax:
        for itr_var in range(start,stop,step):
                //statements;```
    range(10) -> 0 - 9
    range(1,10) -> 1 - 9
    range(10,50,10) -> 10 20 30 40

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
for i in range(10,50,10):
    print(i)

10
20
30
40

In [12]:
n = int(input())
for i in range(n):
    print(i,end=",")

12
0,1,2,3,4,5,6,7,8,9,10,11,

In [14]:
n = int(input())
for i in range(n):
    print(i,end=" ")

12
0 1 2 3 4 5 6 7 8 9 10 11

In [15]:
n = int(input())
for i in range(n):
    print(i)

12
0
1
2
3
4
5
6
7
8
9
10
11

In [16]:
n = int(input())
for i in range(n+1):
    print(i,end=",")

12
0,1,2,3,4,5,6,7,8,9,10,11,12,

In [17]:
n = int(input())
for i in range(n+1):
    print(i+2,end=",")

12
2,3,4,5,6,7,8,9,10,11,12,13,14,

In [18]:
k = int(input())
m = int(input())
for nn in range(k,m):
    print(nn,end = " ")

20
25
20 21 22 23 24

In [27]:
k = int(input())
m = int(input())
s = int(input())
for nn in range(k,m,s):
    print(nn,end = " ")

1
20
2
1 3 5 7 9 11 13 15 17 19

In [44]:
k=int(input())
m=int(input())
#i = 501
for i in range(k,m+1):
    print("174M1A0%d"%i)

501
560
174M1A0501
174M1A0502
174M1A0503
174M1A0504
174M1A0505
174M1A0506
174M1A0507
174M1A0508
174M1A0509
174M1A0510
174M1A0511
174M1A0512
174M1A0513
174M1A0514
174M1A0515
174M1A0516
174M1A0517
174M1A0518
174M1A0519
174M1A0520
174M1A0521
174M1A0522
174M1A0523
174M1A0524
174M1A0525
174M1A0526
174M1A0527
174M1A0528
174M1A0529
174M1A0530
174M1A0531
174M1A0532
174M1A0533
174M1A0534
174M1A0535
174M1A0536
174M1A0537
174M1A0538
174M1A0539
174M1A0540
174M1A0541
174M1A0542
174M1A0543
174M1A0544
174M1A0545
174M1A0546
174M1A0547
174M1A0548
174M1A0549
174M1A0550
174M1A0551
174M1A0552
174M1A0553
174M1A0554
174M1A0555
174M1A0556
174M1A0557
174M1A0558
174M1A0559
174M1A0560

In [1]:
k=int(input())
#m=int(input())
i = 501
for i in range(k+1):
    print("174M1A05%d"%i)

5
174M1A050
174M1A051
174M1A052
174M1A053
174M1A054
174M1A055

In [7]:
n=int(input())
for k in range(n+1):
    if k<=9:
        print("174M1A050%d"%k)
    else:
        print("174M1A05%d"%k)

10
174M1A0500
174M1A0501
174M1A0502
174M1A0503
174M1A0504
174M1A0505
174M1A0506
174M1A0507
174M1A0508
174M1A0509
174M1A0510

In [27]:
n=int(input())
for k in range(n+1):
    print("174M1A05%2d"%k)

10
174M1A05 0
174M1A05 1
174M1A05 2
174M1A05 3
174M1A05 4
174M1A05 5
174M1A05 6
174M1A05 7
174M1A05 8
174M1A05 9
174M1A0510

In [24]:
n=int(input())
for k in range(n+1):
    print("174M1A05{:02} 184M1A05{:02}".format(k,k))

40
174M1A0500 184M1A0500
174M1A0501 184M1A0501
174M1A0502 184M1A0502
174M1A0503 184M1A0503
174M1A0504 184M1A0504
174M1A0505 184M1A0505
174M1A0506 184M1A0506
174M1A0507 184M1A0507
174M1A0508 184M1A0508
174M1A0509 184M1A0509
174M1A0510 184M1A0510
174M1A0511 184M1A0511
174M1A0512 184M1A0512
174M1A0513 184M1A0513
174M1A0514 184M1A0514
174M1A0515 184M1A0515
174M1A0516 184M1A0516
174M1A0517 184M1A0517
174M1A0518 184M1A0518
174M1A0519 184M1A0519
174M1A0520 184M1A0520
174M1A0521 184M1A0521
174M1A0522 184M1A0522
174M1A0523 184M1A0523
174M1A0524 184M1A0524
174M1A0525 184M1A0525
174M1A0526 184M1A0526
174M1A0527 184M1A0527
174M1A0528 184M1A0528
174M1A0529 184M1A0529
174M1A0530 184M1A0530
174M1A0531 184M1A0531
174M1A0532 184M1A0532
174M1A0533 184M1A0533
174M1A0534 184M1A0534
174M1A0535 184M1A0535
174M1A0536 184M1A0536
174M1A0537 184M1A0537
174M1A0538 184M1A0538
174M1A0539 184M1A0539
174M1A0540 184M1A0540

In [49]:
i = int(input())
j = int(input())
codd=0;
ceven=0;
se=0;
so=0;
print("Even numbers are:",end="")
for k in range(i,j+1):
    if(k%2==0):
        print(k,end=",")
        codd+=1
        so=so+k;
print("\nOdd numbers are:",end="")
for k in range(i,j+1):
    if(k%2==1):
        print(k,end=',')
        ceven+=1
        se=se+k
print("\nSum of even numbers are:{}".format(se))
print("Sum of odd numbers are:{}".format(so))
print("Even digits count:{}".format(ceven))
print("Odd digits count:{}".format(codd))

1
10
Even numbers are:2,4,6,8,10,
Odd numbers are:1,3,5,7,9,
Sum of even numbers are:25
Sum of odd numbers are:30
Even digits count:5
Odd digits count:5

In [67]:
st = int(input())
en = int(input())
es=os=co=ce=0
print("Even numbers are:",end="")
for i in range(st,en+1):
    if i%2==0:
        if en==i:
            print(i,end="")
        else:
            print(i,end=",")
        es=es+i
        ce=ce+1
print("\nOdd numbers are:",end="")
for j in range(st,en):
    if j%2!=0:
        if en-1==j:
            print(j,end="")
        else:
            print(j,end=",")
        os=os+j
        co=co+1
print("\nSum of Even numbers are:{}".format(es))
print("Sum of Odd numbers are:{}".format(os))
print("Even digits count:{}".format(ce))
print("Odd digits count:{}".format(co))

1
10
Even numbers are:2,4,6,8,10
Odd numbers are:1,3,5,7,9
Sum of Even numbers are:30
Sum of Odd numbers are:25
Even digits count:5
Odd digits count:5

# while
    Syntax:
        initialization
        while (condition):
            //stats
            inc/dec

In [70]:
n = int(input())
m = int(input())
while m>=n:
    print(m,end=" ")
    m-=1

1
10
10 9 8 7 6 5 4 3 2 1

In [1]:
tnu=int(input())
st=int(input())
en=int(input())
while st<=en:
    print("{}*{}={:02}".format(tnu,st,tnu*st))
    st=st+1

2
3
6
2*3=06
2*4=08
2*5=10
2*6=12

In [9]:
m = int(input())
t = m
c=0
print("Given number is:{}".format(m))
while m!=0:
    m=m//10
    c=c+1
print("Digit count is:{}".format(c))

1234
Given number is:1234
Digit count is:4